[Unit]
Description=Docker Git Deploy
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/docker-git-deploy deploy
